body {
    font-size: 16px;
    font-family: intrr;
}
section {
    width: 1440px;
    padding-left: 120px;
    border: 2px #28292D solid;
}
.coca {
    height: 910px;
}
.magnificent {
    padding-top: 130px;
    height: 942px;
    background-color: #28292D;
}
.interior {
    height: 1032px;
}
.best_place {
    height: 776px;
}
.workflow {
    height: 948px;
}
.customer {
    height: 772px;
    background-color: #28292D;
}
header {
    padding-right: 121px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav_right{
    margin-left: auto;
    margin-right: 0px;
}
.nav_right p {
    display: inline-block;
    padding-right: 32px;
}
.logo_coca {
    height: 66px;
    width: 140px;
}
nav {
    margin-left: 70px;
    width: 289px;
    height: 24px;
    display: inline-flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: #878787;
}
button {
    padding: 16px 32px 16px 32px;
    border-radius: 100px;
    background-color: #1D1D21;
    line-height: 24px;
    color: white;
}
.white_btn {
    margin-left: 10px;
    background-color: #FFFFFF;
    color:#1D1D21;
}
.white img{
    top: 4px;
    position: relative;
    padding-right: 2px;
}
.coca main p:first-child{
    border-radius: 100px;
    margin-top: 70px;
    padding: 8px 12px;
    border: 1px black solid;
    display: inline-block;
}
.coca main h1{
    font-size: 140px;
    display: inline-block;
    width: 764px;
    line-height: 110%;
    margin-top: 24px;
    margin-bottom: 0px;
}
.coca_p{
    font-size: 16px;
    width: 450px;
    color: #878787;
    margin-top: 24px;
    margin-bottom: 0px;
    line-height: 150%;

}
.coca main div{
margin-top: 48PX;
}
.magnificent .txt{
    padding-top: 24px;
    width: 510px;
    color: #FFFFFF;
    display: inline-block;
}
.magnificent .txt h1{
    font-size: 72px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}
.magnificent .txt .osnovnoy_p{
    margin-top: 24px;
}
.magnificent .txt img{
    padding: 22px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    position: relative;
    top: 20px;
    margin-right: 36px;
}
.like,.kub{
    margin-top: 60px;
    margin-bottom: 0px;
    display: flex;
    align-items: start;
}
.magnificent .img{
    height: 700px;
    width: auto;
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}



